@model NetBanking.Models.NetBankingUserRequest

@{
    ViewBag.Title = "probando";
}

<h2>Nombre: @Html.DisplayFor(model => model.Name)</h2>

<p>hgjkhgjgjhgjhg  hjjkgjkgjg jkhgjkhg kjg kjgkjjgkjhgkjgjm</p>