
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHomeNB.cshtml";
}

<div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
        @*<h1 class="mx-auto my-0 text-uppercase">Bancoman</h1>*@
        <img src="~/Image/Bancoman-escala2.png" height="250px" />
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Esta es tu oficina virtual</h2>
        @Html.ActionLink("Acceder", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary js-scroll-trigger" })
    </div>
</div>