
@{
    ViewBag.Title = "CuentasPropias";
    Layout = "~/Views/Shared/_LayoutvOffice.cshtml";
}

<img src="~/Image/Bancoman-escala2.png" width="300" />
<h3>Transacciones</h3>

<div class="form-horizontal">
    <h5>Transferencia entre cuentas propias</h5>
    <hr />
    <div class="form-row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Cédula</label>
                <div class="col-md-12">
                    
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Fecha de Nacimiento</label>
                <div class="col-md-12">
                    
                </div>
            </div>
        </div>
    </div>
</div>



